{% extends "dataf/base.html" %}

{% block content %}
<style>
  body{
    background-color: #F5F5F5;
  }
</style>
<div id="header">
    <input type="text" name="datetimes" id="inputdata"/>
    <div class="buttons" style="display: flex;">
    <button id ="enter" class="btn btn-dark" >Enter</button>
    <div id="supervisebtn" ></div>
    </div>
</div>
</div>
<div class="container" id="menul">
  <div class="row">
    <div class="col-5 offset-1">
      
      <button id ="enter" class="btn btn-dark" '>Выгрузить данные в Tap тул</button>
      
    </div>
    <div class="col-5 offset-1">
      
      <button id ="enter" class="btn btn-dark" '>Выгрузить данные в Tag тул</button>
    </div>
  </div>
</div>
{% endblock %}